@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #0eb405;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #11eb05;
}


@keyframes flash {
  0% { background-color: rgb(219, 219, 219); }
  50% { background-color: rgb(219, 219, 219); }
  100% { background-color: ''; }
}

.animate-flash {
  animation: flash 1s ease;
}