@import "tailwindcss";

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 3px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(202, 202, 202);
  border-radius: 4px;
}


@keyframes flash {
  0% { background-color: rgb(219, 219, 219); }
  50% { background-color: rgb(219, 219, 219); }
  100% { background-color: ''; }
}

.animate-flash {
  animation: flash 1s ease;
}